.box{
    border: 1px solid;
    height: 300px;
}
#box1{
    width: 200px;
}
#box2{
    width: 100%;
    min-width: 100px;
}
#box3{
    width: 300px;
}

.flex-container {
  display: flex;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    #box2{
        overflow-x: scroll;
    }
}